In [140]:
### Import necessary libraries

from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor

import pandas as pd
import numpy as np

import pickle

In [141]:

## upload data

df=pd.read_csv(r'..\Flask\final_18_19_20.csv')
df

,Unnamed: 0,date,month,hour,holiday,weekday,Member type,count
0,0,2018-01-01,January,0,No,Monday,Casual,6
1,1,2018-01-01,January,0,No,Monday,Member,28
2,2,2018-01-01,January,1,No,Monday,Casual,11
3,3,2018-01-01,January,1,No,Monday,Member,38
4,4,2018-01-01,January,2,No,Monday,Casual,7
...,...,...,...,...,...,...,...,...
50889,50889,2020-12-31,December,21,No,Thursday,member,29
50890,50890,2020-12-31,December,22,No,Thursday,casual,25
50891,50891,2020-12-31,December,22,No,Thursday,member,31
50892,50892,2020-12-31,December,23,No,Thursday,casual,32
50893,50893,2020-12-31,December,23,No,Thursday,member,21

In [142]:
## Preprocessing

df = df[['hour','count',"weekday","month","holiday", "Member type"]]
df

       hour  count   weekday     month holiday Member type
0         0      6    Monday   January      No      Casual
1         0     28    Monday   January      No      Member
2         1     11    Monday   January      No      Casual
3         1     38    Monday   January      No      Member
4         2      7    Monday   January      No      Casual
...     ...    ...       ...       ...     ...         ...
50889    21     29  Thursday  December      No      member
50890    22     25  Thursday  December      No      casual
50891    22     31  Thursday  December      No      member
50892    23     32  Thursday  December      No      casual
50893    23     21  Thursday  December      No      member

[50894 rows x 6 columns]

In [143]:
df.columns = [ 'hour','count',"weekday","month","holiday", "Member_type"]
df

       hour  count   weekday     month holiday Member_type
0         0      6    Monday   January      No      Casual
1         0     28    Monday   January      No      Member
2         1     11    Monday   January      No      Casual
3         1     38    Monday   January      No      Member
4         2      7    Monday   January      No      Casual
...     ...    ...       ...       ...     ...         ...
50889    21     29  Thursday  December      No      member
50890    22     25  Thursday  December      No      casual
50891    22     31  Thursday  December      No      member
50892    23     32  Thursday  December      No      casual
50893    23     21  Thursday  December      No      member

[50894 rows x 6 columns]

In [144]:
df

       hour  count   weekday     month holiday Member_type
0         0      6    Monday   January      No      Casual
1         0     28    Monday   January      No      Member
2         1     11    Monday   January      No      Casual
3         1     38    Monday   January      No      Member
4         2      7    Monday   January      No      Casual
...     ...    ...       ...       ...     ...         ...
50889    21     29  Thursday  December      No      member
50890    22     25  Thursday  December      No      casual
50891    22     31  Thursday  December      No      member
50892    23     32  Thursday  December      No      casual
50893    23     21  Thursday  December      No      member

[50894 rows x 6 columns]

In [145]:
df['Member_type'] = df['Member_type'].str.lower();

<ipython-input-145-5497ced04d2d>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Member_type'] = df['Member_type'].str.lower();

In [146]:
df.holiday = df.holiday.astype('category');
df.weekday = df.weekday.astype('category');
df.month = df.month.astype('category');
df.Member_type = df.Member_type.astype('category');

C:\Users\Davide Della Valle\anacondanew\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [147]:
df.dtypes

hour              int64
count             int64
weekday        category
month          category
holiday        category
Member_type    category
dtype: object

In [148]:
## modelling - creating dummies for recognition, dividing data between training and test, fitting model with data

df = pd.get_dummies(df)
df

,hour,count,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,month_April,...,month_June,month_March,month_May,month_November,month_October,month_September,holiday_No,holiday_Yes,Member_type_casual,Member_type_member
0,0,6,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,28,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,11,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,38,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,2,7,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50889,21,29,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
50890,22,25,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
50891,22,31,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
50892,23,32,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,1,0
50893,23,21,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [149]:
x = df.drop(columns = ['count'])
y = df['count']

In [152]:
x

,hour,weekday_Friday,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,month_April,month_August,...,month_June,month_March,month_May,month_November,month_October,month_September,holiday_No,holiday_Yes,Member_type_casual,Member_type_member
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
3,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
4,2,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50889,21,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
50890,22,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
50891,22,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
50892,23,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
50893,23,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1

In [153]:
x.columns

Index(['hour', 'weekday_Friday', 'weekday_Monday', 'weekday_Saturday',
       'weekday_Sunday', 'weekday_Thursday', 'weekday_Tuesday',
       'weekday_Wednesday', 'month_April', 'month_August', 'month_December',
       'month_February', 'month_January', 'month_July', 'month_June',
       'month_March', 'month_May', 'month_November', 'month_October',
       'month_September', 'holiday_No', 'holiday_Yes', 'Member_type_casual',
       'Member_type_member'],
      dtype='object')

In [154]:
x.iloc[0]

hour                  0
weekday_Friday        0
weekday_Monday        1
weekday_Saturday      0
weekday_Sunday        0
weekday_Thursday      0
weekday_Tuesday       0
weekday_Wednesday     0
month_April           0
month_August          0
month_December        0
month_February        0
month_January         1
month_July            0
month_June            0
month_March           0
month_May             0
month_November        0
month_October         0
month_September       0
holiday_No            1
holiday_Yes           0
Member_type_casual    1
Member_type_member    0
Name: 0, dtype: int64

In [155]:
ada = AdaBoostRegressor()

In [156]:
ada.fit(x,y)

AdaBoostRegressor()

In [157]:
## Save the model in local repository

pickle.dump(ada, open('model.pkl','wb'))