In [1]:
### Import necessary libraries

from sklearn.model_selection import train_test_split
from sklearn.ensemble import AdaBoostRegressor

import pandas as pd
import numpy as np

import pickle

In [2]:

## upload data

df=pd.read_csv(r'..\Flask\final_18_19_20.csv')
df

,Unnamed: 0,date,month,hour,holiday,weekday,Member type,count
0,0,2018-01-01,January,0,No,Monday,Casual,6
1,1,2018-01-01,January,0,No,Monday,Member,28
2,2,2018-01-01,January,1,No,Monday,Casual,11
3,3,2018-01-01,January,1,No,Monday,Member,38
4,4,2018-01-01,January,2,No,Monday,Casual,7
...,...,...,...,...,...,...,...,...
50889,50889,2020-12-31,December,21,No,Thursday,member,29
50890,50890,2020-12-31,December,22,No,Thursday,casual,25
50891,50891,2020-12-31,December,22,No,Thursday,member,31
50892,50892,2020-12-31,December,23,No,Thursday,casual,32
50893,50893,2020-12-31,December,23,No,Thursday,member,21

In [5]:
## Preprocessing

df = df[['hour','month','holiday', 'weekday','Member type','count']]
df

       hour     month holiday   weekday Member type  count
0         0   January      No    Monday      Casual      6
1         0   January      No    Monday      Member     28
2         1   January      No    Monday      Casual     11
3         1   January      No    Monday      Member     38
4         2   January      No    Monday      Casual      7
...     ...       ...     ...       ...         ...    ...
50889    21  December      No  Thursday      member     29
50890    22  December      No  Thursday      casual     25
50891    22  December      No  Thursday      member     31
50892    23  December      No  Thursday      casual     32
50893    23  December      No  Thursday      member     21

[50894 rows x 6 columns]

In [6]:
df.columns = [ 'hour','month','holiday','weekday','Member_type','count']
df

       hour     month holiday   weekday Member_type  count
0         0   January      No    Monday      Casual      6
1         0   January      No    Monday      Member     28
2         1   January      No    Monday      Casual     11
3         1   January      No    Monday      Member     38
4         2   January      No    Monday      Casual      7
...     ...       ...     ...       ...         ...    ...
50889    21  December      No  Thursday      member     29
50890    22  December      No  Thursday      casual     25
50891    22  December      No  Thursday      member     31
50892    23  December      No  Thursday      casual     32
50893    23  December      No  Thursday      member     21

[50894 rows x 6 columns]

In [7]:
df.holiday = df.holiday.astype('category')
df.weekday = df.weekday.astype('category')
df.month = df.month.astype('category')
df.Member_type = df.Member_type.astype('category')

C:\Users\Davide Della Valle\anacondanew\lib\site-packages\pandas\core\generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [8]:
df.dtypes

hour              int64
month          category
holiday        category
weekday        category
Member_type    category
count             int64
dtype: object

In [9]:
## modelling - creating dummies for month recognition, dividing data between training and test, fitting model with data

df = pd.get_dummies(df)
df

,hour,count,month_April,month_August,month_December,month_February,month_January,month_July,month_June,month_March,...,weekday_Monday,weekday_Saturday,weekday_Sunday,weekday_Thursday,weekday_Tuesday,weekday_Wednesday,Member_type_Casual,Member_type_Member,Member_type_casual,Member_type_member
0,0,6,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
1,0,28,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
2,1,11,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
3,1,38,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,1,0,0
4,2,7,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50889,21,29,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
50890,22,25,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
50891,22,31,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
50892,23,32,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,1,0
50893,23,21,0,0,1,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1

In [10]:
x = df.drop(columns = ['count'])
y = df['count']

In [11]:
ada = AdaBoostRegressor()

In [12]:
ada.fit(x,y)

AdaBoostRegressor()

In [13]:
## Save the model in local repository

pickle.dump(ada, open('model.pkl','wb'))